@font-face {
    font-family: 'TTWhaleGothic';
    src: url('../font/TTWhaleGothic.woff2') format('woff2'),
    url('../font/TTWhaleGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'THE한밭돋움';
    src: url('../font/THE한밭돋움L.woff2') format('woff2'),
    url('../font/THE한밭돋움L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'THE한밭돋움';
    src: url('../font/THE한밭돋움B.woff2') format('woff2'),
    url('../font/THE한밭돋움B.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*:target::before {*/
/*    content: "";*/
/*    display: block;*/
/*    height: 116px; !* fixed header height*!*/
/*    margin: -116px 0 0; !* negative fixed header height *!*/
/*}*/
html {
    scroll-padding-top: 116px; /* height of sticky header */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
