<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'post', ~{::div})}">
<head>
    <title th:text="|${post.title}-Figure.Kim|">Figure.Kim</title>

    <meta property="og:site_name" content="Figure.Kim">
    <meta property="og:type" content="website">
    <meta property="og:title" th:content="${post.title}">
    <meta property="og:description" th:content="${post.description}">


    <meta property="og:image"
          th:content="${post.ogImage==null?'https://figure.kim/images/figure.kim-ogImage.png':post.ogImage}">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="420">

    <meta name="twitter:title" th:content="${post.title}">
    <meta name="twitter:description" th:content="${post.description}">

    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="https://figure.kim/images/figure.kim.png">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/toastui-editor-viewer.css}"/>

</head>

<div class="my-10 scroll-smooth">
    <div class="grid grid-cols-3">
        <div class="col-span-3 sticky top-20 -z-10 justify-items-center" id="og-image-wrapper">
            <img th:src="${post.ogImage}" class="w-full mx-auto" id="og-image">
        </div>
        <div class="title z-50 col-span-3 font-hanbat font-bold pt-12 pb-5 justify-between flex bg-white border-b-2 sticky top-0">
            <h1 th:text="${post.title}" class="text-5xl"></h1>
            <h3 th:text="${#dates.format(post.publishAt, 'yyyy-MM-dd')}" class="text-lg self-end margin"></h3>
        </div>
        <div class="col-span-2 bg-white pt-10">
            <div th:utext="${post.renderedContent}" th:class="${post.contentFormat.name()=='MARKDOWN'?'tui-editor-contents':''}">
            </div>
        </div>
        <div class="col-span-1 bg-white pt-10" >
            <div class="px-3 font-whale sticky top-40" id="heading-index">


            </div>
        </div>
        <hr class="mt-10 col-span-3">
        <div class="col-span-3 py-5">
            <a th:each="tag : ${post.tagList}" th:href="|/tag/${tag.id}|" th:text="'# ' + ${tag.id}" class="mx-3"/>

        </div>
    </div>
    <script type="module" th:src="@{'/assets/js/post.js'}"></script>
    <script>
        const contentEl = document.getElementsByClassName("tui-editor-contents")[0];
        const scrollMap = {};
        let headingList = [...contentEl.childNodes].filter(i => {
            return (i.tagName ?? "").startsWith("H")
        });
        let headingIndexATagList = headingList.map(heading => {
            const id = heading.id;
            const depth = heading.tagName.substring(1);
            const yOffset = heading.getBoundingClientRect().y;
            scrollMap[yOffset] = id;
            console.log(depth)
            const aTag = document.createElement("a");
            aTag.href = "#" + id;
            aTag.innerText = heading.innerText;
            aTag.classList.add("block", "pl-" + depth * 3, "py-3", "hover:bg-gray-100", "text-xl", "cursor-pointer", id);
            document.getElementById("heading-index").appendChild(aTag)
            return aTag;
        });
        document.addEventListener('scroll', function() {
            let current = "";
            headingList.forEach((heading) => {
                const sectionTop = heading.offsetTop;
                const sectionHeight = heading.clientHeight;
                if (pageYOffset >= sectionTop - sectionHeight / 3) {
                    current = heading.getAttribute("id");
                }
            });

            headingIndexATagList.forEach((li) => {
                li.classList.remove("bg-gray-300");
                if (li.classList.contains(current)) {
                    li.classList.add("bg-gray-300");
                }
            });
        });

    </script>
</div>
<!--<mock class="pl-3 pl-6 pl-9 pl-12 pl-15 pl-18"></mock>-->
</html>