<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="postCardParam(post)">
    <a th:if="${post.ogImage!=null} and ${post.ogImage!=''}" th:href="|/post/${post.id}|">
        <div class="relative pt-[50%] w-full ">
            <img th:src="${post.ogImage}" class="absolute top-0 left-0 w-full h-full block object-cover"/>
        </div>
    </a>
    <div class="flex p-[1rem] flex-col flex-1">
        <a th:data-href="|/post/${post.id}|" class="block recommend-card" th:href="|/post/${post.id}|">
            <h4 class="text-lg font-bold pb-2" th:text="${post.title}">title</h4>
            <div class="description-wrapper">
                <p class="mb-[1.5rem] break-words text-[0.875rem] h-[3.9375rem] overflow-hidden text-ellipsis"
                   th:text="${post.description}">description</p>
            </div>
        </a>
        <div class="sub-info text-[0.75rem] leading-[1.5]">
            <span th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">2022년 7월 29일</span>
        </div>
    </div>

    <div class="flex py-[0.625rem] px-[1rem] border-t-2 text-[0.75rem] leading-[1.5]">
        <div class="relative w-full whitespace-nowrap overflow-hidden after:absolute after:top-[0] after:right-[0] after:w-1/2 after:h-[25px] after:bg-gradient-to-l after:from-custom-black-100 after:h-full">
            <a class="mr-1"
               th:each="category : ${post.categoryList}" th:href="|/category/${category.id}|" th:text="' ' + ${category.id}"  th:classappend="${category.depth==0 ? 'font-bold text-lg':'text-base'} "/>
        </div>
    </div>
</th:block>
</body>

<!--<mock class="pl-3 pl-6 pl-9 pl-12 pl-15 pl-18"></mock>-->
</html>
