<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'index', ~{::div})}">
<head>
    <title>Figure.kim | index</title>
    <meta property="og:site_name" content="Figure.kim">
    <meta property="og:type" content="website">
    <meta property="og:title" content="도형킴 홈페이지">
    <meta property="og:description" content="김도형의 배설 공간">

    <meta property="og:image" content="/assets/image/figure.kim.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <meta name="twitter:title" content="Figure.kim">
    <meta name="twitter:description" content="도형킴 홈페이지">

    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://figure.kim/images/figure.kim.png">

</head>
<body>

<div>
    <div class="w-full">
        <img th:src="@{/assets/image/index-portrait.png}">
    </div>
    <div class="w-full h-16 bg-gradient-to-b from-yellow-600 to-transparent"></div>
    <div class="w-full py-5 grid grid-cols-4 gap-x-0 sm:gap-x-60 my-20" id="index-description">
        <div class="col-span-4 sm:col-span-2 text-right border-r px-4 max-w-fit justify-self-end">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-8xl font-rix"><a
                    th:href="@{/figure.kim}">Figure.kim</a></h1>
            <p class="text-base text-xl text-gray-900 sm:text-4xl">만 34세 남자 <a th:href="@{/figure.kim}"
                                                                               class="underline">김도형</a>의 <a
                    th:href="@{/post/catharsis}">배설</a>공간</p>
        </div>
        <div class="col-span-2 text-right border-r px-4 -scale-x-100 hidden sm:block">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-8xl font-rix"><a
                    th:href="@{/figure.kim}">Figure.kim</a></h1>
            <p class="text-base text-xl text-gray-900 sm:text-4xl">만 34세 남자 <a th:href="@{/figure.kim}"
                                                                               class="underline">김도형</a>의 <a
                    th:href="@{/post/catharsis}">배설</a>공간</p>
        </div>
    </div>


    <div class="my-10">
        <div class="py-3 px-5 mb-1">
            <h1 class="text-3xl">
                Recommendation
            </h1>
        </div>
        <a>
            <div class=" border border-gray-200 rounded-lg shadow-md p-5">
                <h1 class="text-2xl sm:text-4xl font-whale">
                    내가 MBTI를 싫어하는 이유
                </h1>
                <div class="description text-gray-600">
                    심성이 약한 친구는 본인의 MBTI에 얽매여 본인의 한계를 미리 설정하고 변화의 시도를 제한하게 된다.
                </div>
            </div>
        </a>
    </div>


    <div class="my-10">
        <div class="py-3 px-5 mb-1">
            <h1 class="text-3xl">
                Most Recent Posts
            </h1>
        </div>
        <div class="space-y-10 md:grid md:grid-cols-4 md:gap-x-8 md:gap-y-10 md:space-y-0 border border-gray-200 rounded-lg shadow-md p-5">
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <div class="my-10">
        <div class="py-3 px-5 mb-1">
            <h1 class="text-3xl">
                Most Recent Photos
            </h1>
        </div>
        <div class="space-y-10 md:grid md:grid-cols-4 md:gap-x-8 md:gap-y-10 md:space-y-0 border border-gray-200 rounded-lg shadow-md p-5">
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="relative text-center">
                <div class="col-span-1">
                    <div class="relative">
                        <div class="relative max-w-[340px] mx-auto bg-white shadow-lg rounded-lg">
                            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <div class="inline-flex items-start mr-3 text-3xl" href="#0">
                                            #
                                        </div>
                                        <div class="pr-1">
                                            <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                                                <h2 class="text-xl leading-snug font-bold">스타트업</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="py-0 px-5">
                                <div class="divide-y divide-gray-200">
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                    <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50">
                                        <div class="flex justify-between">
                                            <div class="post-title text-lg font-semibold text-gray-900">스타트업 구인 전략</div>
                                            <div class="text-[13px] align-middle leading-loose">2022-01-01</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Bottom right button -->
                            <button class="absolute top-6 right-5 inline-flex items-center text-sm font-medium text-white bg-gray-500 hover:bg-gray-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
                                <span>more ...</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


    <span class="text-3xl">
        만 34세 남자 <a th:href="@{/figure.kim}">김도형</a>의 <a th:href="@{/post/catharsis}">배설</a>공간
    </span>
    <span class="text-2xl">(아직 딱히 정확한 방향은 못잡음)</span>
    <hr>


    <script type="module" th:src="@{'/assets/js/index.js'}"></script>
</div>
</body>
</html>